body {
    margin: 60px auto;
    width: 70%;
}
    
nav ul, footer ul {
    font-family:'Times';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    overflow: hidden;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #333;
}
a:hover {
    color: #b3c2c6;
}
h1 {
    font-size: 3em;
    font-family:'Times';
    color: #99cfe0;
}
h2 {
    font-size: 2.5em;
    font-family:'Times';
    color: #99cfe0;
}
h3 {
    font-size: 2em;
    font-family:'Times';
    color: #333;
}
p {
    font-size: 1.2em;
    line-height: 1.4em;
    font-family:'Times';
    color: #333;
    padding: 14px 16px;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
