<!DOCTYPE html>
	<html>
		<head>
			<title>Lena Kilian [acadenic website]</title>
			<a> Lena Kilian </a>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
 		<body>
 			 <div class="navbar">
 				 <a href="/">About</a>
 				 <a href="https://docs.google.com/document/d/1nl6nhDyOJeIuP1nFDJe6VkVMKoITMU_y/edit?usp=sharing&ouid=110309100654606554665&rtpof=true&sd=true">CV</a>
 				 <a href="/research">Research</a>
 				 <a href="/teaching">Teaching</a>
 			</div> 
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="https://github.com/lena-kilian">Github</a></li>
				<li><a href="mailto:gylk@leeds.ac.uk">Email</a></li>
				<li><a href="https://www.linkedin.com/in/lena-kilian/">LinkedIn</a></li>
				<li><a href="https://twitter.com/lenakilian_">Twitter</a></li>
				</ul>
			</footer>
		</body>
	</html>
