<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			 <div class="navbar">
				 <a href="/">About</a>
				 <div class="dropdown">
					 <button class="dropbtn">Projects
						 <i class="fa fa-caret-down"></i>
					 </button>
					 <div class="dropdown-content">
						 <a href="/projects">Projects</a>
					 </div>
				 </div>
				 <a href="/cv">CV</a>
			</div> 
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="https://github.com/lena-kilian">Github</a></li>
				<li><a href="mailto:gylk@leeds.ac.uk">Email</a></li>
				<li><a href="https://www.linkedin.com/in/lena-kilian/">LinkedIn</a></li>
				<li><a href="https://twitter.com/lenakilian_">Twitter</a></li>
				</ul>
			</footer>
		</body>
	</html>
